**/.DS_Store
/.Rhistory
/.Rproj.user
/.quarto/
.DS_Store
/.luarc.json
search.json
Statistik_Aufbau/sftp.json
.vscode/
01_Wiederholung_files/.DS_Store
_extensions/.DS_Store
data/.DS_Store
files/.DS_Store
Statistik_Aufbau/.DS_Store
Statistik_Aufbau/04_Gruppenvergleiche_files/.DS_Store
data/.DS_Store
